@model ENTITIES.Entities.Article

@{
    ViewData["Title"] = "Makale Güncelle";
    Layout = "_AuthorLayout";
}

<div class="d-flex header-sticky" style="width:67%">
    <h1 class="d-inline">@Model.Title.ToTitleCase() Güncelle</h1>
</div>

<div class="d-flex justify-content-center">
    <div class="col col-lg-12 col-md-12 col-sm-12">
        <div class="row m-auto">
            <div class="col-md-12 text-center">
                <form asp-action="ArticleUpdate" id="form" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PhotoPath" />
                    <input type="hidden" asp-for="ArticleID" />
                    <input type="hidden" asp-for="AuthorId" />
                    <input type="hidden" asp-for="DateOfReply" />
                    <input type="hidden" asp-for="ConfirmationStatus" />


                    @if (string.IsNullOrEmpty(Model.PhotoPath))
                    {
                        <div class="profile-photo-update-container">
                            <div class="hover-item">
                                <label asp-for="PhotoFile" class="control-label"><span><i class="mdi mdi-camera"></i> Yükle</span></label>
                                <input asp-for="PhotoFile" class="form-control profile-photo-input" accept=".jpg, .jpeg, .png" />
                            </div>
                            <div class="profile-photo-container">
                                <img src="~/img/makale.jpg" alt="Alternate Text" style="width:300px; height:300px; background-position:center; background-size:cover; border-radius:100%;" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="profile-photo-update-container">
                            <div class="hover-item">
                                <label asp-for="PhotoFile" class="control-label"><span><i class="mdi mdi-camera"></i> Yükle</span></label>
                                <input asp-for="PhotoFile" class="form-control profile-photo-input" accept=".jpg, .jpeg, .png" />
                            </div>
                            <div class="profile-photo-container">
                                <div id="photoUploadTarget" class="profile-photo" style="background-image: url(@Model.PhotoPath); "></div>
                            </div>
                        </div>
                    }
                    <div class="form-group mt-4">
                        <input type="hidden" asp-for="PhotoPath" />
                        <span asp-validation-for="PhotoFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="@Model.Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control" disabled> </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmationStatus" class="control-label"></label>
                        <select asp-for="@Model.ConfirmationStatus" asp-items="@Html.GetEnumSelectList<ConfirmationStatus>()" class="form-control" disabled> </select>
                        <span asp-validation-for="ConfirmationStatus" class="text-danger"></span>
                    </div>
                    <div class=" d-flex ml-auto h-50">
                        <input type="submit" form="form" value="Güncelle" class="btn btn-outline-warning " style="margin-left:92%;" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}