@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IGenericService<Article> _articleService
@model CategoryArticlesVM


@{
    var categories = _articleService.GetAll().GroupBy(p => p.Category).Select(g => new CategoryArticlesVM { Category = g.Key, CategoryCount = g.Count() }).OrderByDescending(c => c.CategoryCount).ToList();
    List<Article> articlesFive = _articleService.GetAll().Where(x => x.ConfirmationStatus == ENTITIES.Enums.ConfirmationStatus.Yes && x.Status == Status.Active).OrderByDescending(x => x.DateOfReply).Take(5).ToList();
    AppUser user = await UserManager.GetUserAsync(User);
    List<Article> articles = _articleService.GetDefault(x => x.Status == Status.Active);
    ViewData["Title"] = "DEVHELL Anasayfa";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Arama -  @ViewData["Title"]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/mainBlog/img/icons8-falcon-50.png" rel="icon" />
    <link href="~/mainBlog/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/mainBlog/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/mainBlog/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/mainBlog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/mainBlog/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/mainBlog/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/mainBlog/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/mainBlog/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/mainBlog/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v4.11.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <h1 class="text-light"><a asp-controller="Guest" asp-action="HomePage"><span>DEVHELL</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="~/mainBlog/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <nav id="navbar" class="navbar">
                    <ul>
                        @* anasayfa *@
                        <li><a asp-controller="Guest" asp-action="HomePage">Anasayfa</a></li>
                        @* tüm makaleler *@
                        <li><a asp-controller="Author" asp-action="MyArticleListForEdit">Makalelerim</a></li>
                        @* makaleler *@
                        <li><a asp-controller="Author" asp-action="CreateArticle">Makale Yaz <i style="font-size:18px;" class="fa fa-pencil-square-o"></i></a></li>
                        <li class="dropdown">
                            <a href="#"><span>@user.GetFullName().ToUpper()</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a asp-controller="Author" asp-action="AuthorProfile"><i class="fas fa-user-edit"></i>Profil</a></li>

                                <li><a asp-controller="Login" asp-action="Logout">Çıkış Yap<i class="fas fa-sign-out-alt"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
            }
            else
            {

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a asp-controller="Guest" asp-action="HomePage">Anasayfa</a></li>
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Ekibimiz</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Misafir</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a asp-controller="HomePage" asp-action="Index">Giriş Ekranına Dön</a></li>
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">Ekibimiz</a></li>
                                <li><a asp-controller="Login" asp-action="Login">Üye Ol</a></li>
                            </ul>
                        </li>
                        <li><a href="#footer">İletişim</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
            }

        </div>
    </header><!-- End Header -->

    <main id="main">

        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div id="listeleme" class="col-lg-8 entries">

                        @foreach (var article in ViewBag.articles)
                        {
                            AppUser author = await UserManager.FindByIdAsync(article.AuthorId.ToString());
                            <article class="entry">

                                @if (!string.IsNullOrEmpty(article.PhotoPath))
                                {
                                    <div class="entry-img ">
                                        <img src="@article.PhotoPath" alt="" class="img-fluid">
                                    </div>

                                }
                                else
                                {
                                    <div class="entry-img text-center">
                                        <img src="~/img/makale.jpg" alt="" class="img-fluid" />
                                    </div>
                                }

                                <h2 class="entry-title">
                                    <a asp-controller="Guest" asp-action="ArticleDetails" asp-route-id="@article.ArticleID">@article.Title</a>
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>@author.GetFullName()</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2020-01-01">@article.CreateDate.ToShortDateString()</time></a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a>@article.Category</a></li>
                                    </ul>
                                </div>

                                <div class="entry-content">

                                    @if (article.Content.Length < 250)
                                    {
                                        <p>
                                            @article.Content
                                        </p>


                                    }
                                    else
                                    {
                                        <p>
                                            @article.Content.Substring(0, 250) ...

                                        </p>
                                    }
                                    <div class="read-more">
                                        <a asp-controller="Guest" asp-action="ArticleDetails" asp-route-id="@article.ArticleID">Devamını Gör</a>
                                    </div>
                                </div>

                            </article><!-- End blog entry -->
                        }

                        <div id="sayfalama" style="padding:0 20px 20px 20px"></div>

                    </div><!-- End blog entries list -->

                    <div class="col-lg-4">

                        <div class="sidebar">

                            <h3 class="sidebar-title">Arama</h3>
                            <div class="sidebar-item search-form">
                                <form asp-controller="Guest" asp-action="SearchArticles" asp-route-id="search" method="get">
                                    <input type="text" name="search" class="form-control" placeholder="Arayan bulur">
                                    <button type="submit"><i class="bi bi-search"></i></button>
                                </form>
                            </div><!-- End sidebar search formn-->

                            <h3 class="sidebar-title">En Popiler Kategoriler</h3>
                            <div class="sidebar-item categories">
                                <ul>

                                    @foreach (var item in ViewBag.categoriesFive)
                                    {

                                        <li><a href="#">@item.Category<span>(@item.CategoryCount) </span></a></li>


                                    }

                                </ul>
                            </div><!-- End sidebar categories-->

                            <h3 class="sidebar-title">En Yeniler</h3>
                            <div class="sidebar-item recent-posts">
                                @foreach (var item in articlesFive)
                                {
                                    <div class="post-item clearfix">
                                        <img src="@item.PhotoPath" alt="">
                                        <h4><a href="#">@item.Title</a></h4>
                                        <time datetime="2020-01-01">@item.CreateDate.ToShortDateString()</time>
                                    </div>
                                }


                            </div><!-- End sidebar recent posts-->

                            <h3 class="sidebar-title">Tüm Kategoriler</h3>
                            <div class="sidebar-item tags">
                                <ul>
                                    @foreach (var item in categories)
                                    {
                                        <li><a href="#">@item.Category</a></li>
                                    }


                                </ul>
                            </div><!-- End sidebar tags-->

                        </div><!-- End sidebar -->

                    </div><!-- End blog sidebar -->

                </div>

            </div>
        </section><!-- End Blog Section -->


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Misafir Bağlantıları</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i><a asp-controller="HomePage" asp-action="Index">AnaSayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Guest" asp-action="DevhellAbout">Hakkımızda</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Guest" asp-action="DevhellTeam">Takım</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h4>İletişim</h4>
                        <p>
                            İSTANBUL - KOCAELİ<br>
                            TÜRKİYE <br><br>
                            <strong>Telefon:</strong> +90534 235 01 30<br>
                            <strong>Telefon:</strong> +90534 746 54 09<br>
                            <strong>Telefon:</strong> +90544 418 87 20<br>
                            <strong>Email:</strong> blogapprhf@gmail.com<br>
                        </p>

                    </div>

                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3>Hakkımızda</h3>
                        <p>Toplumun bütün fertlerini makaleler okuyup öğrenmeye veya bilgilerini bu platformda yayınlayıp, bunun dünyanın her noktasındaki okuyuculara ulaştırabilmeyi amaçlamış gönüllü üç kişilik bir ekibiz :)</p>
                        <div class="social-links mt-3">
                            <a href="https://www.linkedin.com/in/furkan-kılıç-94mfk/" class="linkedin" style="margin-right: 20px; font-size: 15px;"><i class="bx bxl-linkedin" style="padding-bottom:15px;"></i>Furkan Kılıç</a>
                            <a href="https://www.linkedin.com/in/resul-mutluer/" class="linkedin" style="margin-right:30px; font-size:15px;"><i class="bx bxl-linkedin" style="padding-bottom:15px;"></i>Resul Mutluer</a>
                            <a href="https://www.linkedin.com/in/hüseyin-kilic96/" class="linkedin" style="margin-right: 20px; font-size: 15px;"><i class="bx bxl-linkedin" style="padding-bottom:15px;"></i>Hüseyin Kılıç</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>DEVHELL</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/mainBlog/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/mainBlog/vendor/aos/aos.js"></script>
    <script src="~/mainBlog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/mainBlog/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/mainBlog/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/mainBlog/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/mainBlog/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/mainBlog/vendor/php-email-form/validate.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="~/js/Pagination.js"></script>

    <!-- Template Main JS File -->
    <script src="~/mainBlog/js/main.js"></script>

</body>

</html>